<h1> <%= @details.name %> </h1>
<h3>Price</h3>
<p><%= @details.price %></p>
<% if @details.stock %>
<p> <i>Instock</i> </p>
<% else %>
<p><i>Out of Stock </i></p>
<% end %>
<h3> Details </h3>
<p><%= @details.details %></p>
<br>
<h3> Description </h3>
<p> <%= @details.description %> </p>
<br>
<p><%= link_to 'Edit Product', prod_edit_path(@details) %></p>
<p><%= link_to 'Delete Product', prod_delete_path(@details) %></p>