<% cart = {} %>
<div id="success" ></div>
<textarea id="cart" hidden ></textarea>
<% @companies.each do |com| %>
  <button id="<%= com.id %>" class="crack_show"  ><%= com.name %></button>
<% end %>
<a href="javascript:void[0]" id="view_cart" >View Cart</a>
<div id= "crack_show" >
  <% comp =  @companies.first %>
  <% comp.crackers.each do |com| %>
  <div id="<%= com.id %>" >
    <h3><span id="code_<%= com.id %>" ><%= com['code'] %></span> -  <span id="name_<%= com.id %>"><%= com['name'] %></span></h3>
    <p id="price_<%= com.id %>" ><%= com['price']%></p>
    <p><%= com['type'] %></p>
    <p><%= com['description'] %></p>
    <button class="dec" > - </button>
    <input id="display_<%= com.id %>" type="number" value=0 >
    <button class="inc" > + </button>
    <button class="add_cart" >Add to Cart</button>
  </div>
  <% end %>
</div>
<div id="cart_show" >

</div>

<script>
    
</script>