
<%= form_for @category, url: {action: "update"} do |cat| %>
<%= cat.text_field :id , hidden: true %>
<%= cat.label :name %>
<%= cat.text_field :name %>
<br>
<%= cat.label :tags %>
<%= cat.select :tags, @tags, { selected: @select},{ multiple: true, id: "select"} %>

<a href="javascript:[0]" id="add_tag" >Add tag</a><br>
<div id="show_tag" style="display:none;" >
<p>Tag name :</p><input id='tag_name' type='text'><br><button id='create_tag' type='button' >Create Tag</button>
</div>
<%= cat.submit "Update" %>
<% end %>

