<%= form_for @product, url: {action: "create"} do |cat| %>
<%= cat.label :name %>
<%= cat.text_field :name %>
<br>
<%= cat.label :price %>
<%= cat.number_field :price %>
<br>
<%= cat.label :details %>
<%= cat.text_area :details %>
<br>
<%= cat.label :description %>
<%= cat.text_area :description %>
<br>
<%= cat.label :instock %>
<%= cat.check_box :stock %>
<br>
<%= cat.label :tags %>
<%= cat.select :tags, @tags, { selected: @select},{ multiple: true, id: "select"} %>

<a href="javascript:[0]" id="add_tag" >Add tag</a><br><br>
<div id="show_tag" style="display:none;" >
<p>Tag name :</p><input id='tag_name' type='text'><br><button id='create_tag' type='button' >Create Tag</button>
</div>
<%= cat.submit "Create" %>
<% end %>